* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Kantumruy Pro', sans-serif;
  background: url(../assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #e7e5e4;
  display: flex;
  flex-direction: column;
}

main {
  text-align: center;
  width: 300px;
  margin: 24px auto;
  flex: 1;
}

.photo {
  border-radius: 50%;
  width: 150px;
  padding: 4px;
  border: #8b5027 solid 4px;
}

h1 {
  margin: 24px 0 8px;
  font-size: 32px;
}

.username {
  opacity: 0.85;
  font-size: 18px;
  color: #e7e5e4;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  display: block;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 32px;
  font-weight: bold;
  background: rgba(139, 80, 39, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(139, 80, 39, 0.3);
  color: #e7e5e4;
  gap: 32px;
  margin-bottom: 16px;
  -webkit-tap-highlight-color: transparent;
}

ul li a img {
  width: 17px;
}

ul li a:hover {
  transition: 0.75s;
  background: rgb(139, 80, 39);
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2b2224;
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 80, 39, 0.5);
  border-radius: 8px;
}
